.main{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover; 
}

.form{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.containerA{
    margin: auto;
    margin-top: 25px;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    opacity: 80%;
    box-shadow: 5px 5px 8px #cbced1, -5px -5px 8px white;
}

.containerA:hover,.containerB:hover{
    cursor: pointer;
    opacity: 90%;
}
.containerB{
    margin: auto;
    margin-top: 25px;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #e3ebf0;
    opacity: 80%;
    box-shadow: 5px 5px 8px #cbced1, -5px -5px 8px white;
}

.select{
    position: relative;
    font-family: Arial;
    color: #ffffff;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
}

.label{
    margin-top: 20px;
    font-family: sans-serif;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
    color:#438ed8;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.labelB{
    margin-top: 10px;
    font-family: sans-serif;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: bold;
    color:#438ed8;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.danger{
    color: rgb(240, 52, 52);
    font-weight: bold;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.inputname{
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 12px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.dropdown{
    position: relative;
    background-color: rgb(99, 166, 232);
    border: 6px solid transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    color: #ffffff; 
    width:100%;
    font-weight: bold;
}


.title{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}

.buttonCreate{
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
   
   
}

.countriesContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.countryslctd{
    font-weight:550;
    align-items: flex-start;
}

.buttonDltCountry{
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    background: #1DA1F2;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.5s;
}
  
.buttonCreate:hover{
    box-shadow: none;
}

.buttonDltCountry:hover {
    color: rgb(209, 93, 93);
}