.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

.main{
    float: left;
    display: block;
    color: #f2f2f2;
    font-style: inherit;
    font-size: large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: #ddd;
    color: black;
  }


