.mainContainer{
    margin-top: 55px;
}

.Container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.activitie{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: antiquewhite;
    height: 410px;
    width: 320px;
    border-radius: 5px; 
    transition: 0.3s;
    margin-left: 38px; 
    margin-right: 18px; 
    margin-bottom: 20px;
   /*  align-content: center; */
    align-items: center;
    opacity: 0.8;
    position: relative; 
    block-size: fit-content;
    justify-content: space-between;
    flex-direction: column;
    /* height: 100vh; */
    display: flex;
}

/* .activitie:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.1;
    opacity: 1;
} */