.numbers{
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    flex-direction: row;
}

.button{
    float: left;
    font-family: cursive;
    padding: 0 14px;
    line-height: 34px;
    color: black;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 1;
}

.buttonactual{
    background: black;
    font-family: cursive;
    color: white;
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 1;
}

.button:hover,.buttonprevnext:hover{
    background: black;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}

.button:focus{
    background: black;
    color: white;
}

.container{
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    flex-direction: row;
    margin-left: 340px;
}

.buttonprevnext{
    font-family: cursive;
    padding: 0 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 1;
    border-radius: 1em;
}


